@charset "UTF-8";

/* 全体指定 */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1.8;
}

html,
body {
  overflow-x: hidden;
  /* hide tiny overflows caused by scrollbar/vw rounding */
}

body {
  font-family: 'Noto Serif JP', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #000000;
  line-height: 1.4;
  background-color: #f0f0f0;
}

img {
  max-width: 100%;
  flex-shrink: 0;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  -moz-user-select: none;
  user-select: none;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  display: flex;
  align-items: center;
}

.for-pc {
  display: contents;
}

.for-resp {
  display: none;
}

.br-resp {
  display: none;
}

/* /全体指定 */
.top {
  position: relative;
  align-items: center;
  justify-content: center;
}

.img-box {
  width: 100%;
  height: 52vw;
  overflow: hidden;
  position: relative;
}

.img-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 52vw;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.img-box>div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 52vw;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  opacity: 0;
  animation-name: fade;
  animation-duration: 24s;
  animation-iteration-count: infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 0;
    z-index: 0;
  }
}

/* 1枚目のスライド */
.img-box>div:first-of-type {
  background-image: url(校内写真/IMG_5020.JPG);
}

/* 2枚目のスライド */
.img-box>div:nth-of-type(2) {
  background-image: url(校内写真/IMG_5472.JPG);
  animation-delay: 4s;
}

/* 3枚目のスライド */
.img-box>div:nth-of-type(3) {
  background-image: url(校内写真/IMG_6369.JPG);
  animation-delay: 8s;
}

.img-box>div:nth-of-type(4) {
  background-image: url(校内写真/IMG_5048.JPG);
  animation-delay: 12s;
}

.img-box>div:nth-of-type(5) {
  background-image: url(校内写真/IMG_7983.JPG);
  animation-delay: 16s;
}

.img-box>div:last-of-type {
  background-image: url(校内写真/IMG_7885.JPG);
  animation-delay: 20s;
}

.top__masthead {
  position: absolute;
  z-index: 100;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top__masthead div img {
  width: 100%;
  height: auto;
}

/* about */

.about {
  margin: 50px 0;
  color: black;
  width: 100%;
}

h2 {
  font-size: 24px;
  width: 75vw;
  margin-left: 12vw;
}

.r-triangle {
  border-width: 25px;
  border-style: solid;
  border-color: transparent transparent transparent orange;
  scale: 0.9;
}

.border-line {
  border: solid 2px #909090;
  width: 80%;
  margin: 0 auto 30px 10%;
  position: relative;
}

.border-line::after {
  position: absolute;
  content: " ";
  display: block;
  border: solid 3px skyblue;
  bottom: -3px;
  left: -3px;
  width: 35%;
}

.about__text {
  font-size: 20px;
  line-height: 1.8;
  margin: 20px 16vw 60px 12vw;
}

.about__cooperation {
  background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
  border: 1px solid #ccc;
  border-top: 4px solid #1c66fe;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 1) inset;
  width: 80%;
  margin: 0 auto 60px 10vw;
  text-align: center;
}

.about__cooperation p {
  font-size: 18px;
}

.detail__text {
  font-size: 20px;
  line-height: 1.8;
  margin: 20px 16vw 30px 12vw;
}

.detail a {
  text-decoration: underline;
  color: #27a2ff;
  width: 70%;
}

.specimen {
  margin-top: 100px;
}

.specimen__p {
  margin: 0 16vw 30px 12vw;
}


/* --- 絞り込み結果（index.html の #filterResults 用） --- */
#filterResults {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 6px;
  margin-bottom: 6px;
}

/* カウント行は必ず1行を占有する */
#filterResults .filter-count {
  flex: 0 0 100%;
  margin: 0 0 6px 0;
  font-weight: bold;
}

#filterResults .filter-item {
  flex: 0 0 calc(33.333% - 12px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  white-space: nowrap;
  /* 折り返さない */
  min-width: 260px;
  /* 13文字＋番号が収まる目安 */
  overflow: hidden;
  margin: 4px 8px;
}

#filterResults .filter-item a {
  white-space: nowrap;
}

#filterResults .plant-number {
  display: inline-block;
  width: 56px;
  font-weight: bold;
  margin-right: 8px;
  flex: 0 0 56px;
}




/* アコーディオンメニュー */

.s_01 .accordion_one {
  width: 82vw;
}

.s_01 .accordion_one {
  max-width: 2048px;
  margin: 0 auto;
}

.s_01 .accordion_one .accordion_header {
  background-color: #5f5f5f;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  padding: 20px 11%;
  text-align: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition-duration: 0.2s;
}

.s_01 .accordion_one:nth-of-type(odd) .accordion_header {
  background-color: #5f5f5f;
}

.s_01 .accordion_one:nth-of-type(even) .accordion_header {
  background-color: #d0d0d0;
  color: #000000;
}

.s_01 .accordion_one .accordion_header:hover {
  opacity: .8;
}

.s_01 .accordion_one .accordion_header .i_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 5%;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  margin-top: -20px;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
}

.s_01 .accordion_one:nth-child(even) .accordion_header .i_box {
  border: 1px solid #000000;
}

.s_01 .accordion_one .accordion_header .i_box .one_i {
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
  position: relative;
}

.s_01 .accordion_one .accordion_header.open .i_box {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.s_01 .accordion_one .accordion_header .i_box .one_i:before,
.s_01 .accordion_one .accordion_header .i_box .one_i:after {
  display: flex;
  content: '';
  background-color: #fff;
  border-radius: 10px;
  width: 18px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transform-origin: center center;
}

.s_01 .accordion_one:nth-child(even) .accordion_header .i_box .one_i:before,
.s_01 .accordion_one:nth-child(even) .accordion_header .i_box .one_i:after {
  background-color: #000000;
}

.s_01 .accordion_one .accordion_header .i_box .one_i:before {
  width: 4px;
  height: 18px;
  top: 0;
  left: 7px;
}

.s_01 .accordion_one .accordion_header.open .i_box .one_i:before {
  content: none;
}

.s_01 .accordion_one .accordion_header.open .i_box .one_i:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.s_01 .accordion_one .accordion_inner {
  display: none;
  padding: 30px 15px;
  border-left: 2px solid #5f5f5f;
  border-right: 2px solid #5f5f5f;
  border-bottom: 2px solid #5f5f5f;
  box-sizing: border-box;
}

.s_01 .accordion_one:nth-of-type(odd) .accordion_inner {
  border-left: 2px solid #5f5f5f;
  border-right: 2px solid #5f5f5f;
  border-bottom: 2px solid #5f5f5f;
}

.s_01 .accordion_one:nth-of-type(even) .accordion_inner {
  border-left: 2px solid #d0d0d0;
  border-right: 2px solid #d0d0d0;
  border-bottom: 2px solid #d0d0d0;
}

.s_01 .accordion_one .accordion_inner .box_one {
  height: 1000px;
}




/* specimen table */

.sp__table__resp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.sp__table {
  margin: auto;
  border: solid 2px #000000;
  border-collapse: collapse;
}

.sp__1 {
  margin-right: 0;
}

.sp__2 {
  margin-left: 0;
}

.sp__last {
  margin-top: 0;
}

tr,
td {
  border: solid 2px #000000;
  text-align: left;
}

.r-plant__number {
  width: 100px;
  text-align: center;
}

.r-plant__name {
  width: 300px;
}

/* reverse */
.reverse {
  width: 250px;
  padding: auto;
  margin: 50px 10vw 50px auto;
  color: #000000;
  background: #e1e1e1;
  border: solid 1px #000000;
  border-radius: 9px;
  text-align: center;
}

.reverse__a {
  font-size: 24px;
  text-decoration: none;
  line-height: 1.2;
}

/* footer */

.footer__line {
  border: solid 1px #c0c0c0;
  margin: 0 auto;
  width: 100%;
}

.footer__credit {
  display: flex;
  justify-content: center;
}

.footer__credit div p {
  font-size: 18px;
}

.footer__credit div:nth-child(2) {
  margin: auto 10px auto;
}

.for-resp {
  display: none;
}

.footer__departmentName {
  font-size: 12px;
  text-align: center;
  margin-bottom: 30px;
}

/* for_wp */

.l-header--container {
  display: none;
}

.l-body__top {
  display: none;
}

.l-body-sub {
  display: none;
  width: 0;
  height: 0;
}

.l-footer--container {
  display: none;
}

.l-body-main__data {
  display: none;
}

.l-header {
  display: none;
}

.u-btn__page {
  display: none;
}

.l-body contents {
  margin: 0;
}

#main {
  margin: 0;
}

main {
  margin: 0;
}

.l-body {
  margin: 0;
}

html {
  margin: 0;
}

.l-body__container {
  display: block;
}

#content {
  width: 100vw;
  overflow: hidden;
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #000000;
}

@media (min-width: 992px) {
  main {
    margin: 0;
  }
}

.l-body-main__body a {
  text-decoration: none;
}

.wp-block-columns {
  margin-bottom: 0;
}

.contents .l-body-main__container>div {
  margin-bottom: 0;
}

@charset "utf-8";

@media (max-width: 821px) {

  /* 全体指定 */

  * {
    font-size: 16px;
    line-height: 1.4;
    max-width: 100vw;
  }

  body {
    font-size: 16px;
    line-height: 1.2;
  }

  .for-pc {
    display: none;
  }

  .for-reps {
    display: contents;
  }

  .br-resp {
    display: block;
  }

  /* /全体指定 */

  .img-box {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 80);
  }

  .img-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 80);
  }

  .img-box>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 80);
  }

  .top__masthead {
    width: 86%;
  }

  h2 {
    font-size: 20px;
  }

  .r-triangle {
    border-width: 28px;
    scale: 0.7;
  }

  .about__text {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 10vw 60px 10vw;
  }

  .about__cooperation {
    margin: 0 auto 60px 10vw;
  }

  .about__cooperation p {
    font-size: 14px;
    line-height: 1.5;
  }

  .detail__text {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 15vw 30px 15vw;
  }

  .detail a {
    text-decoration: underline;
    color: #27a2ff;
    width: 70%;
  }


  .s_01 .accordion_one .accordion_inner .box_one {
    height: 1300px;
  }

  .s_01 .accordion_one:last-child .accordion_inner .box_one {
    height: 1100px;
  }

  .sp__table__resp {
    display: block;
  }

  .sp__table {
    width: 100%;
    margin-bottom: 0;
  }

  .sp__table tr td {
    font-size: 14px;
  }

  .sp__table:first-child {
    border-bottom: none;
  }

  .sp__1 tr:last-child,
  .sp__1 tr:last-child td {
    border-bottom: none;
  }

  .reverse {
    width: 160px;
  }

  .reverse__a {
    font-size: 16px;
  }

  div .for-resp {
    display: flex;
  }

  .footer__credit div p {
    font-size: 16px;
  }

}

@media screen and (max-width: 1024px) {
  .s_01 .accordion_one .accordion_header {
    font-size: 18px;
  }

  .s_01 .accordion_one .accordion_header .i_box {
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }
}

@media screen and (max-width: 767px) {
  .s_01 .accordion_one .accordion_header {
    font-size: 16px;
    text-align: left;
    padding: 15px 60px 15px 15px;
  }
}

@media screen and (max-width:900px) {
  #filterResults .filter-item {
    flex: 0 0 50%;
    min-width: 220px;
  }
}

@media screen and (max-width:600px) {
  #filterResults .filter-item {
    flex: 0 0 100%;
    min-width: 0;
  }
}
